streamlit>=1.50.0
firebase-admin
pyrebase4
plotly
pandas
numpy
Pillow
reportlab
openpyxl
python-dotenv
bcrypt
streamlit-option-menu
streamlit-extras
extra-streamlit-components
streamlit-card
google-generativeai
requests
qrcode
opencv-python-headless
easyocr
