streamlit>=1.50.0
firebase-admin
pyrebase4
streamlit-option-menu
plotly
pandas
numpy
Pillow
reportlab
openpyxl
streamlit-extras
streamlit-lottie
streamlit-card
extra-streamlit-components
streamlit-js-eval
google-generativeai
requests
python-dotenv
bcrypt
qrcode
opencv-python-headless
easyocr
